.register{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url(../register/img/animationM.gif) ;
    background-size:cover;
    background-repeat:no-repeat; */
    
}
.registerWrapper{
    height: 70%;
    width: 70%;
    display: flex;
}
.registerLeft,.registerRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.registerLogo{
    font-size: 50px;
    font-weight: 800;
    color: #5e2bdf;
    font-family:cursive;
}
.registerDesc{
    font-size: 25px;
    font-family: monospace;
    color: rgb(152, 29, 240);
}
.registerBox{
    height: 400px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.registerInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 18px;
    padding-left: 20px;
}
.registerInput:focus{
    outline: none;
}
.registerButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: indigo;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.registerButton:focus{
    outline: none;
}
.txtColor{
    color: white;
}
.registerForgot{
    text-align: center;
    color: indigo;
}
.registerRegisterButton{
    
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #97FD02;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.registerRegisterButton:focus{
    outline: none;
}

































