.post{
    border-radius: 10px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.36); 
    box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.36);
    margin: 30px,0;
}
.postWrapper{
    padding: 10px;
}
.postProfileImg{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postTopLeft{
    display: flex;
    align-items: center;
}
.postUsername{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}
.postDate{
    font-size: 12px;
}
.postCenter{
    margin: 20px 0;

}
.postImg{
    object-fit: contain;
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
}
.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postBottomLeft{
    display: flex;
    align-items: center;
}
.likeIcon{
    height: 23px;
    width: 23px;
    margin-right: 8px;
    cursor: pointer;
}
.likeCounter{
    font-size: 15px;
}
.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed grey;
    font-size: 15px;
}













